body {
    margin: 0;
    font-family: Verdana, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
}


header {
    background-color: #1e1e1e;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #c94c1e;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #c94c1e;
    text-shadow: 2px 2px 0 black;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    color: #e0e0e0;
    font-size: 18px;
    transition: 0.3s;
}

.nav-link:hover {
    color: #c94c1e;
}


.hero {
    height: 500px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)),
        url("https://cobaltlab.tech/images/6563e26aea8419dd57ba216384fa2128.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-title {
    font-size: 48px;
    text-shadow: 3px 3px 6px black;
}

.hero-desc {
    font-size: 20px;
    max-width: 600px;
    margin-bottom: 30px;
}


.btn {
    background-color: #c94c1e;
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #fff;
    transition: 0.3s;
}

.btn:hover {
    background-color: #a53d17;
    cursor: pointer;
}


.main {
    max-width: 1000px;
    margin: auto;
    padding: 40px 20px;
}

.section-title {
    text-align: center;
    font-size: 32px;
    color: #c94c1e;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    width: 280px;
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #333;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    border-color: #c94c1e;
    background-color: #262626;
}

.card-img {
    height: 180px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.card-title {
    color: #ffae42;
}

.card-desc {
    font-size: 14px;
    line-height: 1.5;
    color: #bdbdbd;
}


footer {
    background-color: #0d0d0d;
    padding: 20px;
    text-align: center;
}

.footer-text {
    color: #777;
    font-size: 14px;
}
.text-link {
    color: #c94c1e;
    font-weight: bold;
    text-decoration: none;
}

.text-link:hover {
    text-decoration: underline;
}
